- @carts.each do |cart|
  - cart.line_items.each do |line_item|
    %h4.pull-right= number_to_currency(line_item.book.price)
    %h4.title= link_to truncate(line_item.book.title, length: 15), line_item.book
    %p= truncate(line_item.book.description, length: 100)
