<% if line_item == @current_item %>
  <div class="line_item" id ="current_item">
<% else %>
  <div class="line_item">
<% end %>
    <li>
      <p class="pull-right"><%= number_to_currency(line_item.total_price) %></p>
      <p>
        <span><%= line_item.quantity %> &times;</span>
        <%= truncate(line_item.book.title, length: 15) %>
        <hr>
      </p>
    </li>
  </div>